

services:
  mongo:
    image: mongo:6
    container_name: alarma-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend-alarmas
    container_name: alarma-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend-alarmas
    container_name: alarma-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  mongo_data:
